/* Box-shadow */
header {
  position: sticky;
  top: 0;
  z-index: 2 !important;
  background-color: #00070a;
  padding: 1.25rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.7803921569);
}
@media (max-width: 600px) {
  header {
    text-align: end;
  }
}
header nav {
  white-space: nowrap;
  display: block;
}
@media (max-width: 600px) {
  header nav {
    display: none;
    position: fixed;
    inset: 3.87rem 0 0;
    background-color: rgba(0, 0, 0, 0.7803921569);
    z-index: 1 !important;
  }
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
}
@media (max-width: 600px) {
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
    width: -moz-max-content;
    width: max-content;
    background-color: #00070a;
  }
}
@media (max-width: 600px) {
  header nav ul a {
    width: 100%;
    transform: rotateX(-90deg);
  }
  header nav ul a:nth-child(1) {
    animation: navbarMobile 0.3s forwards;
  }
  header nav ul a:nth-child(2) {
    animation: navbarMobile 0.3s 0.3s forwards;
  }
  header nav ul a:nth-child(3) {
    animation: navbarMobile 0.3s 0.6s forwards;
  }
  header nav ul a:nth-child(4) {
    animation: navbarMobile 0.3s 0.9s forwards;
  }
}
header nav ul a li {
  padding: 0.56rem;
  cursor: pointer;
  position: relative;
}
@media (max-width: 600px) {
  header nav ul a li {
    padding: 1rem 1.56rem;
    width: 100%;
    text-align: start;
    position: relative;
  }
  header nav ul a li::before {
    display: none;
  }
  header nav ul a li::after {
    width: 100% !important;
    height: 3px !important;
    background-color: #088a56 !important;
    transform: scaleX(0) !important;
    transform-origin: center !important;
    transition: 0.4s ease !important;
    animation: none !important;
    border: none !important;
    opacity: 0;
  }
  header nav ul a li:hover::after {
    opacity: 1;
    transform: scaleX(1) !important;
  }
}
header nav ul a li:hover::before, header nav ul a li:hover::after {
  color: #003f21;
  animation: navbarEffect 0.4s forwards;
}
header nav ul a li::before, header nav ul a li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  transform: scaleX(0);
}
header nav ul a li::before {
  top: 0;
  left: -2px;
  transform-origin: right;
  border-top: 2px solid #047845;
  border-left: 2px solid #047845;
}
header nav ul a li::after {
  bottom: 0;
  right: -2px;
  transform-origin: left;
  border-bottom: 2px solid #047845;
  border-right: 2px solid #047845;
}
header .menu-mobile {
  padding: 0.62rem 0.31rem;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  display: none;
}
@media (max-width: 600px) {
  header .menu-mobile {
    display: block !important;
  }
}
header .menu-mobile div {
  position: relative;
}
header .menu-mobile div, header .menu-mobile div::before, header .menu-mobile div::after {
  background-color: #fff;
  width: 24px;
  height: 2px;
  border-radius: 5px;
}
header .menu-mobile div::before, header .menu-mobile div::after {
  content: "";
  position: absolute;
  transition: 0.4s ease;
  left: 0;
}
header .menu-mobile div::before {
  top: -6px;
}
header .menu-mobile div::after {
  bottom: -6px;
}
header .opened {
  background: transparent !important;
}
header .opened::before {
  top: 0 !important;
  transform: rotate(45deg) !important;
}
header .opened::after {
  bottom: 0 !important;
  transform: rotate(-45deg) !important;
}

@keyframes navbarEffect {
  50% {
    transform: scaleX(1);
    height: 0;
    width: 100%;
  }
  100% {
    transform: scaleX(1);
    width: 50%;
    height: 50%;
  }
}
@keyframes navbarMobile {
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}/*# sourceMappingURL=header.css.map */