$black: #000;
$black-op: #0000007e;
$black-bg: #011016;
$black-bg-2: #010b0f;
/* $green-1: #007946;
$green-1-op: #0079477a; */
$light-green: #0fff9b;
$color-op: #ffffff00;
$white: #fff;
$gray-op: #63606065;

$green-1: #003f21;
$green-2: #006635;
$green-3: #047845;
$green-4: #088a56;
$green-5: #0b9c66;
$green-6: #0fae76;