@use "../design/mixins/mixins.scss";
@import "../design/variables/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo scroll*/
::-webkit-scrollbar {
    width: 6px;
}
  
 /* Scroll */
::-webkit-scrollbar-thumb {
    background-color: $gray-op;
    border-radius: 50px;
}

html {
    height: max-content;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    background-color: $black-bg;
    color: $white;
}

h1 {
    font-size: 30px;
}

h1, h3, p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: $white;
}

main {
    /* Sections */
    section {
        padding: 25px;

        &.sobre {
            background-color: $black;
            border-radius: 100px 0 ;
            @include mixins.box-shadow-inset(0, -2px, 10px, 0, $black-op);
            @include mixins.flex-justify-align(space-evenly, center, 30px);
        
            figure {
                width: clamp(150px, 100%, 280px);
                height: clamp(150px, 100%, 280px);
                position: relative;
                border-radius: 50%;
                filter: drop-shadow(0 0 5px $black);
    
                img {
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                }
            }
    
            article {
                flex: 2 1 350px;
                max-width: 800px;
    
                h1 {
                    color: $green-6;
                }
    
                button {
                    padding: 10px;
                    margin-top: 10px;
                    background: linear-gradient(90deg, $green-5 47%, $green-1 50%) 99.5% 0%/200%;
                    color: $white;
                    border: 2px solid $green-1;
                    border-radius: 3px;
                    transition: background-position .3s;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 15px;
                    @include mixins.flex-center(8px);
    
                    &:hover {
                        background-position: 0 100%;
                    }
                }
            }
        }

        &.competencias {
            .cards-container {
                max-width: 850px;
                margin: 30px auto;
                @include mixins.flex-justify(center, 20px);
                
                .card {
                    background-color: $black-bg;
                    flex: 1 1 200px;
                    max-width: 270px;
                    max-height: 270px;
                    padding: 20px;
                    border-radius: 20px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    @include mixins.flex-center-column(10px);
                    @include mixins.box-shadow(0, 0px, 4px, 0, $green-4);

                    img {
                        width: 80%;
                        object-fit: fill;
                        aspect-ratio: 3 / 4;
                    }
                    
                    h3 {
                        margin-block: 10px 0;
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        text-align: center;
                        opacity: 0;
                    }

                    img, h3 {
                        transition: all .4s ease;
                        z-index: 1;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        //background-color: $black-bg-2;
                        background-color: $black;
                        border-top-left-radius: 150%;
                        width: 0;
                        height: 0;
                        transition: .8s;
                    }

                    &:hover {
                        img {
                            transform: scale(.8) translateY(-20px);
                            //aspect-ratio: 1 / 1 !important;
                        }
                        h3 {
                            opacity: 1;
                            bottom: 20px;
                        }

                        &::after {
                            width: 200%;
                            height: 200%;
                        }
                    }
                }
            }
        }

        &:not(:nth-child(1)) {
            h1 {
                text-align: center;
            }
        }
    } 
}
